html, body, canvas, p, h3 {
  padding: 0px;
  margin: 0px;
  border: 0;

  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

section {
  position: relative;
  width: 500px;
}

div.score {
  display: block;

  font-family: 'Slabo 27px';
  color: #12C20A;
  position: absolute;
  z-index: 1;
  padding: 10px;
  right: 10px;
  bottom: 10px;
  text-align: right;
}

div.score h3 {
 border: 1px solid #12C20A;
}
